<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shengsaia06132019"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.shengsaia06132019.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shengsaia06132019.LoadingActivity"
            android:label="@string/title_activity_loading" >
        </activity>
        <activity
            android:name="com.example.shengsaia06132019.RoomIndexActivity"
            android:label="@string/title_activity_room_index" >
        </activity>
        <activity
            android:name="com.example.shengsaia06132019.room.RoomControl"
            android:label="@string/title_activity_room_control" >
        </activity>
        <activity
            android:name="com.example.shengsaia06132019.room.RoomLink"
            android:label="@string/title_activity_room_link" >
        </activity>
        <activity
            android:name="com.example.shengsaia06132019.room.RoomTemp"
            android:label="@string/title_activity_room_temp" >
        </activity>
    </application>

</manifest>